Package: com.yuancan.agreefriendrequest
Name: AgreeFriendRequest
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: YuanCan
Author: YuanCan
Section: Tweaks
