Package: com.yuancan.setgroupnickname
Name: SetGroupNickname
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: YuanCAn
Author: YuanCAn
Section: Tweaks
