Package: com.yuancan.dianzan
Name: DianZan
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: YuanCan
Author: YuanCan
Section: Tweaks
Version: 0.0.1-21
Installed-Size: 136
