Package: com.yuancan.shieldgroupmsg
Name: ShieldGroupMsg
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: YuanCan
Author: YuanCan
Section: Tweaks
